<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--Production - connection string to Portal do Corretor-->
    <add name="WebPortal" connectionString="server=192.168.0.217\ASTREIN;database=WebPortal;User ID=integracaoSkymail;Password=SkymailBbrk18!;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="login_api" value="integracao.skymail@bbrk.com.br" />
    <add key="password_api" value="iSk&amp;100Bbrk3!" />
    <add key="key_api" value="dGZiNThmMTQ0MDVjYzRiNWExYTZmNmRmYjcwMDg5ZjA=" />
    <!--URL Calls - Start -->
    <add key="base_uri" value="https://api.skymail.net.br/v1/" />
    <add key="uri_post_create_token_auth" value="auth/login" />
    <add key="uri_get_list_mails" value="mailbox" />
    <add key="uri_get_mail" value="mailbox" />
    <add key="uri_post_create_mail" value="mailbox" />
    <add key="uri_put_alter_mail" value="mailbox" />
    <add key="uri_delete_mail" value="mailbox" />
    <!--UR Calls - End -->
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>